body {
    font-family: sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 15px;
}
.clear {
    clear: both;
}
h1 {
    float: left;
    display: block;
    margin: 0;
    padding-right: 10px;
}
h2 {
    margin: 0;
}
.version {
    float: left;
    display: block;
}
.new-tab {
    float: right;
    display: block;
}
.boxed {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}
.sidebar {
    float: right;
    width: 300px;
    padding-left: 15px;
}
.solver {
    float: left;
}
tr.model-row {
    display: none;
}
td {
    text-align: right;
}
td.lineno {
    color: #ccc;
}
input.inputs {
    width: 200px;
}
input.notes {
    background: #ffc;
}
.message {
    text-align: left;
    color: #777;
}
.error {
    color: #f00;
}
.exporter {
    width: 100%;
    height: 5em;
    background: #eee;
}
footer {
    padding-top: 40px;
    font-size: 0.7em;
    color: #777;
}
.braille {
    background: url("../../resources/images/psolve_braillemap.png") 0px 100px no-repeat;
}

.braille-A { background-position: -10px 0px; }
.braille-B { background-position: -10px -100px; }
.braille-C { background-position: -10px -200px; }
.braille-D { background-position: -10px -300px; }
.braille-E { background-position: -10px -400px; }
.braille-F { background-position: -10px -500px; }
.braille-G { background-position: -10px -600px; }
.braille-H { background-position: -10px -700px; }
.braille-I { background-position: -10px -800px; }
.braille-J { background-position: -10px -900px; }
.braille-K { background-position: -10px -1000px; }
.braille-L { background-position: -10px -1100px; }
.braille-M { background-position: -10px -1200px; }
.braille-N { background-position: -10px -1300px; }
.braille-O { background-position: -10px -1400px; }
.braille-P { background-position: -10px -1500px; }
.braille-Q { background-position: -10px -1600px; }
.braille-R { background-position: -10px -1700px; }
.braille-S { background-position: -10px -1800px; }
.braille-T { background-position: -10px -1900px; }
.braille-U { background-position: -10px -2000px; }
.braille-v { background-position: -10px -2100px; }
.braille-W { background-position: -10px -2200px; }
.braille-X { background-position: -10px -2300px; }
.braille-Y { background-position: -10px -2400px; }
.braille-Z { background-position: -10px -2500px; }
